/* NAVBAR START */
.header {
  background-color: #C9D8B6;
}

.active {
  background-color: burlywood;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid burlywood;
  margin: 0 auto;
  max-width: 1200px;
  /* same as container in main.css */
}

.brand {
  padding: 0 5%;
  /* same as container in main.css */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid burlywood;
}

.brand h1 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 5px 0;
}

.brand h1:hover {
  color: burlywood;
}

#ham-icon {
  font-size: 25px;
  font-weight: 900;
}

.nav-links {
  text-align: center;
  height: 0;
  transition: all 1s;
  overflow: hidden;
}

.open {
  height: auto;
  overflow: visible;
  transition: all 1s;
}

.nav-links a {
  font-size: 20px;
  display: block;
  padding: 5px;
}

.nav-links a:hover {
  color: burlywood;
}

@media screen and (min-width: 600px) {
  #ham-icon {
    display: none;
  }

  .brand {
    border: none;
    padding: 0;
  }

  .brand h1 {
    font-size: 35px;
  }

  .navbar {
    padding: 0 2%;
    /* same as container in main.css */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    border: none;
    height: auto;
    width: 55%;
    display: flex;
    justify-content: space-around;
  }

  .nav-links a {
    display: inline-block;
    font-size: 18px;
  }
}

@media screen and (min-width: 900px) {
  .brand h1 {
    font-size: 40px;
  }

  .nav-links {
    width: 40%;
  }

  .nav-links a {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 0;
  }
}

/* NAVBAR END */